#------------------------------------------------------------------------------#
#                           MIRROR Raspbian REPOS                              #
#------------------------------------------------------------------------------#

###### Debian Update Repos
deb http://mirrors.ustc.edu.cn/raspbian/raspbian/ RELEASE main contrib non-free rpi
#deb-src http://mirrors.ustc.edu.cn/raspbian/raspbian/ RELEASE main contrib non-free rpi
